body {
  overflow: hidden;
}

#postText {
  height:150px;
}

.PostCard {

}

#AppHeader {
  height: 50px !important; 
}

#AppContent {
  top: 50px !important;
  height: calc(100% - 130px);
  overflow:hidden;
}

#AppContentsHeader {
  height:50px !important;
  overflow: hidden;
}

#AppContentsBody {
  height: calc(100% - 190px) !important;
  overflow:scroll;
}

#AppFooter {
  top: calc(100% - 70px);
  height: 70px !important; 
  margin:0;
  padding:0;
  bottom: calc(100% - 0px);
}

.card-media {
  height:100px;
}

.md-card-image {
  max-height:150px;
  max-width:150px;
}

.md-card-content {

}

.lv-card {
  padding-bottom:5px;
  margin-bottom:10px;
}








