<div ng-controller="configureController" layout="column" ng-cloak >
  <md-content layout-padding class="md-padding" id="AppContentsHeader">
    <section layout="row" layout-align="start start">
      <div class="md-display-1">Configuration</div>
    </section>  
  </md-content>
  <md-content layout-padding class="md-padding" id="AppContentsBody">
    <section layout="row" layout-align="center start" >
      <form name="friendForm" flex="80" flex-md="85" flex-sm="90" flex-xs="100" layout="column" ng-style="{background:'white'}">  
        <fieldset class="standard">
          <legend>AWS Settings</legend>
          <md-input-container class="md-block">
            <md-checkbox ng-model="Configuration.UseAWS" id="useAWS" aria-label="Use AWS">
                  Save to Amazon Web Services
            </md-checkbox>
          </md-input-container>
          <md-input-container class="md-block">
            <label for="awsKey">AWS Key</label>
            <input type="text" class="form-control" id="awsKey" placeholder="AWS Key" ng-model="Configuration.AWSKey" ng-disabled="!Configuration.UseAWS">
          </md-input-container>
          <md-input-container class="md-block">
            <label for="awsSecret">AWS Secret</label>
            <input type="password" class="form-control" id="awsSecret" placeholder="AWS Secret" ng-model="Configuration.AWSSecret" ng-disabled="!Configuration.UseAWS">
          </md-input-container>
          <md-input-container class="md-block">
            <label for="awsSecret">AWS Region</label>
            <input type="password" class="form-control" id="awsRegion" placeholder="AWS Region" ng-model="Configuration.AWSRegion" ng-disabled="!Configuration.UseAWS">
          </md-input-container>          
          <md-input-container class="md-block">
            <label for="awsSecret">AWS Bucket</label>
            <input type="text" class="form-control" id="awsBucket" placeholder="AWS Bucket" ng-model="Configuration.AWSBucketName" ng-disabled="!Configuration.UseAWS">
          </md-input-container>
          <md-input-container class="md-block">
            <md-checkbox ng-model="Configuration.ShowAWSNotifications" id="showNotifications" aria-label="Show Notifications">
                  Show AWS Notifications
            </md-checkbox>
          </md-input-container>
        </fieldset>
        <fieldset class="standard">
          <legend>Google Api</legend>
          <md-input-container class="md-block">
            <label for="awsSecret">Google Api Key</label>
            <input type="text" class="form-control" id="googleApiKey" placeholder="Google Maps Api Key" ng-model="Configuration.GoogleApiKey" ng-disabled="!Configuration.UseAWS">
          </md-input-container>
        </fieldset>
        <md-button type="submit" ng-click="saveConfig(Configuration)" class="md-raised md-accent">Save</md-button>
      </form>
    </section>
  </md-content>
</div>